template = testcase
title = Blocking
description = Check that basic blocking functionality is working as expected.

{% set case = "Full Path" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a blocking filter describing a full path blocks its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/blocking/full-path.png" data-expectedresult="fail" data-dp="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/blocking/full-path.png</pre></li>
  </ul>
</section>

{% set case = "Partial Path" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a blocking filter describing a partial path blocks its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/blocking/partial-path/partial-path.png" data-expectedresult="fail" data-dp="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/blocking/partial-path/</pre></li>
  </ul>
</section>

{% set case = "Wildcard" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a blocking filter describing a path with wildcards blocks its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/blocking/wildcard/1/wildcard.png" data-expectedresult="fail" data-dp="fail">
    <img id="{{id}}-fail-2" src="/testfiles/blocking/wildcard/2/wildcard.png" data-expectedresult="fail" data-dp="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/blocking/wildcard/*/wildcard.png</pre></li>
  </ul>
</section>

{% set case = "Dynamic" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a blocking filter describing a path of a resource that is later dynamically added to the page blocks its target.</p>
  <div id="blocking-dynamic" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/blocking/dynamic.png</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/blocking/dynamic.png";
  image.setAttribute("data-expectedresult", "fail");
  image.setAttribute("data-dp", "fail");
  image.id = "dynamic-fail-1";

  let area = document.getElementById("blocking-dynamic");
  area.appendChild(image);
</script>

{% set case = "Deep subdomains" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a blocking filter for a 3-component domain blocks a 4-component subdomain path.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="https://blocked.subdomain.abptestpages.org/testfiles/blocking/subdomain.png" data-expectedresult="fail" data-dp="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||subdomain.abptestpages.org/testfiles/blocking/subdomain.png</pre></li>
  </ul>
</section>
