title = Blocking
template = testcase

<section class="site-panel">
  <h2>Blocking</h2>
  <p>Check that basic blocking functionality is working as expected.</p>
</section>

<section class="testcase-panel">
  <h2 id="fullpath">Full Path</h2>
  <p>Test that a blocking filter describing a full path blocks its target.</p>
  <div class="testcase-area testcase-container">
    <img src="/testfiles/blocking/full-path.png" data-expectedresult="blocked" class="blocked">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/blocking/full-path.png</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="partialpath">Partial Path</h2>
  <p>Test that a blocking filter describing a partial path blocks its target.</p>
  <div class="testcase-area testcase-container">
    <img src="/testfiles/blocking/partial-path/partial-path.png" data-expectedresult="blocked" class="blocked">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>/testfiles/blocking/partial-path/</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="wildcard">Wildcard</h2>
  <p>Test that a blocking filter describing a path with wildcards blocks its target.</p>
  <div class="testcase-area testcase-container">
    <img src="/testfiles/blocking/wildcard/1/wildcard.png" data-expectedresult="blocked" class="blocked">
    <img src="/testfiles/blocking/wildcard/2/wildcard.png" data-expectedresult="blocked" class="blocked">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>/testfiles/blocking/wildcard/*/wildcard.png</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="dynamic">Dynamic</h2>
  <p>Test that a blocking filter describing a path of a resource that is later dynamically added to the page blocks its target.</p>
  <div id="blocking-dynamic" class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>/testfiles/blocking/dynamic.png</pre></li>
  </ul>
</section>

<script>
  let image = document.createElement("img");
  image.src = "/testfiles/blocking/dynamic.png";
  image.setAttribute('data-expectedresult', 'blocked');
  image.setAttribute('class', 'blocked');

  let area = document.getElementById("blocking-dynamic");
  area.appendChild(image);
</script>
