template = testcase
title = CSP - Specific site
description = Check that a filter using the $csp filter option is working as expected.
meta = http-equiv="Content-Security-Policy" content="frame-src 'none'"

<section class="testcase-panel">
  <h2>Specific site</h2>
  <p>Test that a filter using the $csp filter option works on a specific site.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div id="block-javascript" class="testcase-nostyle"></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}^$csp=script-src {{ site_url }}/lib/utils.js</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/csp/image.png";
  image.setAttribute("data-expectedresult", "fail");
  document.getElementById("block-javascript").appendChild(image);
</script>

<section class="testcase-panel">
  <h2>frame-src</h2>
  <p>Test that a filter using the $csp filter option works on a specific site.</p>
  <div class="testcase-area">
    <iframe src="/testfiles/subdocument/subdocument.html" style="border: 0; width: 200px; height: 100px;" data-expectedresult="fail"></iframe>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Check that the frame above is blocked.</li>
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The frame above should still be blocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}^$csp=frame-src 'self'</pre></li>
  </ul>
</section>
