template = testcase
title = CSP Specific site
description = Check that a filter using the $csp filter option is working as expected.
{% set meta = 'http-equiv="Content-Security-Policy" content="frame-src ' + site_url + '/testfiles/csp_specific/frame.html"' %}

{% set case = "Specific site" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $csp filter option works on a specific site.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div id="block-javascript" class="testcase-nostyle"></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}^$csp=script-src {{ site_url }}/lib/utils.js</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/csp/image.png";
  image.id = "specific-site-fail-1";
  image.setAttribute("data-expectedresult", "fail");
  document.getElementById("block-javascript").appendChild(image);
</script>

{% set case = "frame-src" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $csp filter option works on a specific site.</p>
  <div id="{{id}}-area" class="testcase-area">
    <iframe src="/testfiles/csp_specific/expected.html" class="testcase-expected-view" style="border: 0; width: 200px; height: 100px;"></iframe>
    <iframe id="{{id}}-target" src="/testfiles/csp_specific/frame.html" data-expectedresult="pass" style="border: 0; width: 200px; height: 100px;"></iframe>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Check that the frame above is not blocked.</li>
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The frame above should be blocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}^$csp=frame-src 'none'</pre></li>
  </ul>
</section>
