template = testcase
title = Element Hiding Emulation Inversion
description = Check that element hiding emulation inversion functionality is working as expected.

<style>
.ehei-properties-not-hide {
  width: 213px;
}


.ehei-properties {}

.ehei-has {}

.ehei-contains {}

.ehei-chained-not-hide {
  width: 214px;
}

.ehei-case {
  width: 215px;
}

.ehei-wildcard {
  cursor: pointer;
}

.ehei-regex1 {
  width: 121px;
}

.ehei-regex2 {
  width: 125px;
}

.ehei-regex3 {
  width: 126px;
}
</style>

{% set case = "Basic :not(:-abp-properties()) usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding emulation filter using a :not(:-abp-properties()) selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area" >
    <div id="{{id}}-fail-1" class="ehei-properties" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div  class="testcase-examplecontent ehei-properties ehei-properties-not-hide" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div[class|="ehei-properties"]:not(:-abp-properties(width: 213px))</pre></li>
  </ul>
</section>

{% set case = "Basic :not(:-abp-has()) usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding emulation filter using a :not(:-abp-has()) selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="ehei-has" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
      Target
    </div>
    <div class="testcase-examplecontent ehei-has" aria-label="{{id}}-example">
    <div>
        <span class="ehei-has">Example Content</span>
      </div>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div.ehei-has:not(:-abp-has(>div>span.ehei-has))</pre></li>
  </ul>
</section>

{% set case = "Basic :not(:-abp-contains()) usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding emulation filter using a not(:-abp-contains()) selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <span id="{{id}}-fail-1" class="ehei-contains" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</span>
    <span class="testcase-examplecontent ehei-contains" aria-label="{{id}}-example">Example Content</span>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#.ehei-contains:not(span:-abp-contains(Example Content))</pre></li>
  </ul>
</section>
