template = testcase
title = Element Hiding
description = Check that basic element hiding functionality is working as expected.

<section class="testcase-panel">
  <h2>ID Selector</h2>
  <p>Test that an element hiding filter using an ID selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div id="eh-id" class="testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}###eh-id</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Class Selector</h2>
  <p>Test that an element hiding filter using a class selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div class="eh-class testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.eh-class</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Descendant Selector</h2>
  <p>Test that an element hiding filter using a descendant selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div class="eh-descendant testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-area > .eh-descendant</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Sibling Selector</h2>
  <p>Test that an element hiding filter using a sibling selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-examplecontent + .eh-sibling</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Attribute Selector 1</h2>
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div width="100" height="100" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[height="100"][width="100"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Attribute Selector 2</h2>
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div href="http://testcase-attribute.com/" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[href="http://testcase-attribute.com/"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Attribute Selector 3</h2>
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div style="width: 200px;" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style="width: 200px;"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Starts with Selector 1</h2>
  <p>Test that an element hiding filter using a starts with selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div href="http://testcase-startswith.com/test" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[href^="http://testcase-startswith.com/"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Starts with Selector 2</h2>
  <p>Test that an element hiding filter using a starts with selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div style="width: 201px; color: white;" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style^="width: 201px;"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Ends with Selector 2</h2>
  <p>Test that an element hiding filter using a ends with selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div style="color: white; width: 202px;" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style$="width: 202px;"]</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Contains</h2>
  <p>Test that an element hiding filter using a contains selector hides its target.</p>
  <div class="testcase-area testcase-container">
    <div style="color: white; width: 203px;" class="eh-sibling testcase-bad-element blocked" data-expectedresult="blocked">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style*="width: 203px;"]</pre></li>
  </ul>
</section>
