template = testcase
title = Element Hiding
description = Check that basic element hiding functionality is working as expected.

{% set case = "ID Selector" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an ID selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="eh-id" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}###eh-id</pre></li>
  </ul>
</section>

{% set case = "ID Selector with double curly braces" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an ID selector with two curly braces hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{ '{{eh-id}}' }}" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[id='{{ '{{eh-id}}' }}']</pre></li>
  </ul>
</section>

{% set case = "Class Selector" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a class selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="eh-class" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.eh-class</pre></li>
  </ul>
</section>

{% set case = "Descendant Selector" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel"> 
  {{ heading(case) }}
  <p>Test that an element hiding filter using a descendant selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="eh-descendant" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-area > .eh-descendant</pre></li>
  </ul>
</section>

{% set case = "Sibling Selector" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a sibling selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div id="{{id}}-fail-1" class="eh-sibling" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-examplecontent + .eh-sibling</pre></li>
  </ul>
</section>

{% set case = "Attribute Selector 1" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" width="100" height="100" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[height="100"][width="100"]</pre></li>
  </ul>
</section>

{% set case = "Attribute Selector 2" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" href="http://testcase-attribute.com/" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[href="http://testcase-attribute.com/"]</pre></li>
  </ul>
</section>

{% set case = "Attribute Selector 3" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an attribute selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="width: 200px;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style="width: 200px;"]</pre></li>
  </ul>
</section>

{% set case = "Starts with Selector 1" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a starts with selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" href="http://testcase-startswith.com/test" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[href^="http://testcase-startswith.com/"]</pre></li>
  </ul>
</section>

{% set case = "Starts with Selector 2" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a starts with selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="width: 201px; color: white;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style^="width: 201px;"]</pre></li>
  </ul>
</section>

{% set case = "Ends with Selector 1" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a ends with selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="color: white; width: 202px;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style$="width: 202px;"]</pre></li>
  </ul>
</section>

{% set case = "Contains" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a contains selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="color: white; width: 203px;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##div[style*="width: 203px;"]</pre></li>
  </ul>
</section>
