template = testcase
title = Element Hiding Emulation / Extended Selectors
description = Check that element hiding emulation functionality is working as expected.

<style>
.ehe-properties {
  width: 213px;
}

.ehe-chained {
  width: 214px;
}

.ehe-case {
  width: 215px;
}

.ehe-wildcard {
  cursor: pointer;
}

.ehe-regex1 {
  width: 121px;
}

.ehe-regex2 {
  width: 125px;
}

.ehe-regex3 {
  width: 126px;
}
</style>

<section class="testcase-panel">
  {{ heading("Basic :-abp-properties() usage") }}
  <p>Test that an element hiding emulation filter using a :-abp-properties() selector hides its target.</p>
  <div class="testcase-area">
    <div class="ehe-properties" data-expectedresult="fail">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(width: 213px)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Basic :-abp-has() usage") }}
  <p>Test that an element hiding emulation filter using a :-abp-has() selector hides its target.</p>
  <div class="testcase-area">
    <div data-expectedresult="fail">
      <div>
        <span class="ehe-has">Target</span>
      </div>
    </div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-has(>div>span.ehe-has)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Basic :-abp-contains() usage") }}
  <p>Test that an element hiding emulation filter using a :-abp-contains() selector hides its target.</p>
  <div class="testcase-area">
    <span data-expectedresult="fail">ehe-contains-target</span>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#span:-abp-contains(ehe-contains-target)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Chained extended selectors") }}
  <p>Test that element hiding emulation filter using several of the extended selectors hides its target.</p>
  <div class="testcase-area">
    <div data-expectedresult="fail">
      <div class="ehe-chained">Target</div>
    </div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-has(> div:-abp-properties(width: 214px))</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Case insensitive extended selectors") }}
  <p>Test that an element hiding emulation filter is case insensitive and still hides its target.</p>
  <div class="testcase-area">
    <div class="ehe-case" data-expectedresult="fail">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(WiDtH: 215px)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Wildcard in extended selector") }}
  <p>Test that an element hiding emulation filter using wildcards still hides its target.</p>
  <div class="testcase-area">
    <div class="ehe-wildcard" data-expectedresult="fail">Target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(cursor:*)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Regular expression in :-abp-properties()") }}
  <p>Test that an element hiding emulation filter using regular expressions still hides its target.</p>
  <div class="testcase-area">
    <div class="ehe-regex1" data-expectedresult="fail">Target</div>
    <div class="ehe-regex2" data-expectedresult="fail">Target</div>
    <div class="testcase-examplecontent ehe-regex3">Not a target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Both red target elements should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(/width: 12[1-5]px;/)</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  {{ heading("Regular expression in :-abp-contains()") }}
  <p>Test that an element hiding emulation filter using regular expressions still hides its target.</p>
  <div class="testcase-area">
    <div data-expectedresult="fail">ehe-containsregex1</div>
    <div data-expectedresult="fail">ehe-containsregex2</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Both red target elements should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div > div:-abp-contains(/ehe-containsregex\d/)</pre></li>
  </ul>
</section>
