template = testcase
title = Header
description = Check that a filter using the $header filter option is working as expected.

{% set case = "Script" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $header filter option works on an external script.</p>
  <div id="script-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be blocked and the red element should not be added to the page.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/header/$header=content-type=application/javascript</pre></li>
  </ul>
</section>

<script src="/testfiles/header/script.js"></script>

{% set case = "Image" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $header filter option works on an image.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/header/image.png" data-expectedresult="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/header/image.png$header=content-type=image/png</pre></li>
  </ul>
</section>

{% set case = "Comma" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a $header filter containing a comma (escaped as "\x2c") works on an image.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/header/image2.png" data-expectedresult="fail">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/header/image2.png$header=date=\x2c</pre></li>
  </ul>
</section>

{% set case = "Stylesheet" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $header filter option works on an external stylesheet.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-expected-view">Passed. Stylesheet was blocked.</div>
    <div id="stylesheet-target" data-expectedresult="fail"></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The stylesheet should be blocked and the red element should not be added to the page.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/header/$header=content-type=text/css</pre></li>
  </ul>
</section>

<link rel="stylesheet" href="/testfiles/header/stylesheet.css">

<script>
  "use strict";

  setTimeout(() => {
    let target = document.getElementById("stylesheet-target");
    let targetStyle = getComputedStyle(target);
    if (targetStyle.width === "150px") {
      target.innerHTML = "Failed. Stylesheet was NOT blocked.";
    }
    else {
      target.innerHTML = "Passed. Stylesheet was blocked.";
      // Style must be equal to .testcase-expected-view,
      target.style = `flex-grow: 1;
        padding: .5rem;
        color: #fff;
        background-color: #0dc74b;`;
    }
  }, 500);
</script>
