template = testcase
title = Image
description = Check that a filter using the $image filter option is working as expected.

{% set case = "Static" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $image filter option works on a static target.</p>
  <div id="{{id}}-area" class="testcase-area" >
    <img id="{{id}}-fail-1" src="/testfiles/image/static/static.png" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/image/static/$image</pre></li>
  </ul>
</section>

{% set case = "Dynamic" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $image filter option works on a dynamic target.</p>
  <div id="image-dynamic" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/image/dynamic/$image</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/image/dynamic/dynamic.png";
  image.setAttribute("data-expectedresult", "fail");
  image.setAttribute("data-dp", "fail");
  image.setAttribute("aria-label", "{{id}}-fail");
  image.id = "{{id}}-fail-1";

  let area = document.getElementById("image-dynamic");
  area.appendChild(image);
</script>
