template = testcase
title = Inline CSS with Extended Selectors
description = Check that inline CSS functionality with extended selectors is working as expected.

<style>
.inline-css-properties {
  width: 56px;
}

.inline-css-chained {
  width: 57px;
}

.inline-css-case {
  width: 58px;
}

.inline-css-wildcard {
  cursor: pointer;
}

.inline-css-regex1 {
  width: 141px;
}

.inline-css-regex2 {
  width: 145px;
}

.inline-css-regex3 {
  width: 146px;
}
</style>

{% set case = "Basic :-abp-properties() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :-abp-properties() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="inline-css-properties" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(width: 56px) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Basic :-abp-has() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :-abp-has() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
      <div>
        <span class="inline-css-abp-has">Target</span>
      </div>
    </div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>TThe DOM element should change background from red to green..</li>
  </ul>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-has(>div>span.inline-css-abp-has) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Basic :has() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :has() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail">
      <div>
        <span class="inline-css-has">Target</span>
      </div>
    </div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:has(>div>span.inline-css-has) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Basic :-abp-contains() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :-abp-contains() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <span id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">.inline-css-contains-target</span>
    <div class="testcase-expected-view">.inline-css-contains-target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#span:-abp-contains(.inline-css-contains-target) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Basic :xpath() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :xpath() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <span id="{{id}}-fail" data-expectedresult="fail" data-dp="fail">Target</span>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#span:xpath(//*[@id="basic-xpath-usage-with-inline-css-fail"]) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Basic :has-text() usage with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using a :-has-text() selector changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <span id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail">inline-css-has-text</span>
    <div class="testcase-expected-view">inline-css-has-text</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#span:has-text(inline-css-has-text) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Chained extended selectors with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using several of the extended selectors changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
      <div class="inline-css-chained">Target</div>
    </div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-has(> div:-abp-properties(width: 57px)) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Case insensitive extended selectors with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter is case insensitive and still changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="inline-css-case" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(WiDtH: 58px) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Wildcard in extended selector with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using wildcards still changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="inline-css-wildcard" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The DOM element should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#.inline-css-wildcard:-abp-properties(cursor:*) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Regular expression in :-abp-properties() with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using regular expressions still changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="inline-css-regex1" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div id="{{id}}-fail-2" class="inline-css-regex2" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-expected-view inline-css-regex1">Target</div>
    <div class="testcase-expected-view inline-css-regex2">Target</div>
    <div class="testcase-examplecontent .inline-css-regex3">Not a target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Both red target elements should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div:-abp-properties(/width: 14[1-5]px;/) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>

{% set case = "Regular expression in :-abp-contains() with inline CSS" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an inline CSS filter using regular expressions still changes target background from red to green.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">inline-css-containsregex1</div>
    <div id="{{id}}-fail-2" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">inline-css-containsregex2</div>
    <div class="testcase-expected-view">inline-css-containsregex1</div>
    <div class="testcase-expected-view">inline-css-containsregex2</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Both red target elements should change background from red to green.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#?#div > div:-abp-contains(/inline-css-containsregex\d/) {background-color: #0dc74b;}</pre></li>
  </ul>
</section>
