template = testcase
title = Object
description = Check that a filter using the $object filter option is working as expected.

<section class="testcase-panel">
  <h2>Static</h2>
  <p>Test that a filter using the $object filter option works on a static target.</p>
  <div class="testcase-area">
    <object data="/testfiles/object/static/static.swf" type="application/x-shockwave-flash" style="width: 100px; height: 100px;" data-expectedresult="fail"></object>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The flash object should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/object/static/$object</pre></li>
  </ul>
  <h3>Known Issues</h3>
  <p>Chrome - The object is blocked but the space is not collapsed.</p>
  <p>Opera - The object is blocked but the space is not collapsed.</p>
</section>

<section class="testcase-panel">
  <h2>Dynamic</h2>
  <p>Test that a filter using the $object filter option works on a dynamic target.</p>
  <div id="object-dynamic" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The flash object should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/object/dynamic/$object</pre></li>
  </ul>
  <h3>Known Issues</h3>
  <p>Chrome - The object is blocked but the space is not collapsed.</p>
  <p>Opera - The object is blocked but the space is not collapsed.</p>
</section>

<script>
  "use strict";

  let object = document.createElement("object");
  object.data = "/testfiles/object/dynamic/dynamic.swf";
  object.type = "application/x-shockwave-flash";
  object.style = "width: 100px; height: 100px;";
  object.setAttribute("data-expectedresult", "fail");

  let area = document.getElementById("object-dynamic");
  area.appendChild(object);
</script>
