title = Other
template = testcase
description = Check that a filter using the $other filter option is working as expected.

<section class="testcase-panel">
  <h2>Script</h2>
  <p>Test that a filter using the $other filter option works on a script.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>A request of type "OTHER" should appear blocked on the "Adblock Plus" tab in developer tools.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>$other,domain={{ site_url|domain }}</pre></li>
  </ul>
</section>

<link rel="prefetch" href="/testfiles/other/image.png">
