template = testcase
title = Ping
description = Check that a filter using the $ping filter option is working as expected.

<section class="testcase-panel">
  <h2>Link based ping</h2>
  <p>Test that a filter using the $ping filter option works on a link based ping.</p>
  <div class="testcase-area">
    <a href="#link" class="testcase-trigger" ping="{{ site_url }}/en/filters/ping">Trigger link based ping</a>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Click the link above.</li>
    <li>The ping request should be blocked on the "Adblock Plus" tab in developer tools.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|strip_proto }}/*^$ping</pre></li>
  </ul>
  <h3>Known Issues</h3>
  <p>Firefox - Ping request from links may be blocked by tracking protection.</p>
</section>

<section class="testcase-panel">
  <h2>Script based ping</h2>
  <p>Test that a filter using the $ping filter option works on a script based ping.</p>
  <div class="testcase-area">
    <a id="script-ping-trigger" href="#script-ping" class="testcase-trigger" onclick="doPing()">Trigger script based ping</a>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>Click the link above.</li>
    <li>The ping request should be blocked on the "Adblock Plus" tab in developer tools.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|strip_proto }}/*^$ping</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function doPing()
  {
    navigator.sendBeacon("/en/filters/ping", "Testdata");
  }
</script>
