template = testcase
title = Popup
description = Check that a filter using the $popup filter option is working as expected.

<section class="testcase-panel">
  <h2 id="link-popup">Link based popup</h2>
  <p>Test that a filter using the $popup filter option works on a link based popup.</p>
  <div class="testcase-area testcase-container">
    <a href="/en/popuptarget" target="_blank" class="testcase-trigger">Trigger link based popup</a>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Click the link above.</li>
    <li>The popup opened should be closed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/en/popuptarget^$popup</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="script-popup">Script based popup</h2>
  <p>Test that a filter using the $popup filter option works on a script based popup.</p>
  <div class="testcase-area testcase-container">
    <a id="script-trigger" href="#script-popup" class="testcase-trigger" onclick="scriptPopup()">Trigger script based popup</a>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Click the link above.</li>
    <li>The popup opened should be closed.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/en/popuptarget^$popup</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function checkScriptPopup(result)
  {
    let trigger = document.getElementById("script-trigger");

    if (result.window === null)
    {
      trigger.className = "testcase-trigger-passed";
      trigger.innerHTML = "Passed. Script based popup was blocked successfully.";
    }
    else
    {
      trigger.className = "testcase-trigger-failed";
      trigger.innerHTML = "Failed. Script based popup was NOT blocked.";
    }
  }

  function scriptPopup()
  {
    window.open("/en/popuptarget");

    setTimeout(checkScriptPopup, 500);
  }
</script>
