title = Script
template = testcase
description = Check that a filter using the $script filter option is working as expected.

<section class="testcase-panel">
  <h2 id="script">Script</h2>
  <p>Test that a filter using the $script filter option works on an external script.</p>
  <div id="script-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be blocked and the red element should not be added to the page.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|strip_proto }}/testfiles/script/$script</pre></li>
  </ul>
</section>

<script src="/testfiles/script/script.js"></script>
