template = testcase
title = Stylesheet
description = Check that a filter using the $stylesheet filter option is working as expected.

<section class="testcase-panel">
  {% set case = "Stylesheet" %}
  {{ heading(case) }}
  <p>Test that a filter using the $stylesheet filter option works on an external stylesheet.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{ get_id(case) }}-example">Example Content</div>
    <div class="testcase-expected-view">Passed. Stylesheet was blocked.</div>
    <div id="stylesheet-target" data-expectedresult="fail" data-dp="fail" aria-label="{{ get_id(case) }}-fail"></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The stylesheet should be blocked and the red element should not be added to the page.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|strip_proto }}/testfiles/stylesheet/$stylesheet</pre></li>
  </ul>
</section>

<link rel="stylesheet" href="/testfiles/stylesheet/stylesheet.css">

<script>
  "use strict";

  setTimeout(() =>
  {
    let target = document.getElementById("stylesheet-target");
    let targetStyle = getComputedStyle(target);
    if (targetStyle.width === "150px")
    {
      target.innerHTML = "Failed. Stylesheet was NOT blocked.";
    }
    else
    {
      target.innerHTML = "Passed. Stylesheet was blocked.";
      // Style must be equal to .testcase-expected-view,
      target.style = `flex-grow: 1;
        padding: .5rem;
        color: #fff;
        background-color: #0dc74b;`;
    }
  }, 500);
</script>
