template = testcase
title = Subdocument
description = Check that a filter using the $subdocument filter option is working as expected.

<section class="testcase-panel">
  {{ heading("Subdocument") }}
  <p>Test that a filter using the $subdocument filter option works on to block a subdocument.</p>
  <div class="testcase-area">
    <iframe src="/testfiles/subdocument/subdocument.html" style="border: 0; width: 100px; height: 100px;" data-expectedresult="fail"></iframe>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The subdocument should be blocked and the red element should not be added to the page.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|strip_proto }}/testfiles/subdocument/$subdocument</pre></li>
  </ul>
</section>
