template = testcase
title = WebRTC
description = Check that a filter using the $webrtc filter option is working as expected.

<section class="testcase-panel">
  <h2 id="webrtc">WebRTC</h2>
  <p>Test that a filter using the $webrtc filter option works on to block a webrtc connection.</p>
  <div class="testcase-area testcase-container">
    <div id="testcase-status" class="testcase-trigger blocked">Trigger WebRTC connection</div>
    <div class="testcase-output-expected">Passed. Connection was blocked.</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The connection should be blocked and its state indicated in the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>$webrtc,domain={{ site_url|domain }}</pre></li>
  </ul>
</section>


<script>
  "use strict";

  function check(connection)
  {
    let result = document.getElementById("testcase-status")
    // If blocked by ABP, the signalingState is quickly set to "closed".
    // When not blocked by ABP, the signalingState stays as "stable" for a while.
    if (connection.signalingState === "closed")
    {
      result.innerHTML = "Passed. Connection was blocked.";
      result.className = "testcase-trigger-passed";
    }
    else
    {
      result.innerHTML = "Failed. Connection was NOT blocked.";
      result.className = "testcase-trigger-failed";
    }
  }

  function doTest()
  {
    if (typeof RTCPeerConnection == 'undefined')
    {
      if (typeof webkitRTCPeerConnection == 'undefined')
      {
        let output = document.getElementById("testcase-status");
        output.innerHTML = "This test case is not supported in this browser.";
        return;
      }
      RTCPeerConnection = webkitRTCPeerConnection;
    }
    var connection = new RTCPeerConnection({iceServers: [{urls: ["stun:example.com"]}]});
    setTimeout(function(){check(connection)}, 500);
  }

  doTest();
</script>
