template = testcase
title = Wildcard Domain
description = Check that a filter using the $domain filter  with wildcard is working as expected.

<div class="note">
<h2 class="note"> This scenario won't work when running testpages on localhost due to missing domain </h2>
<h3 class="note"> Please refer to project documentation on how to map localhost to proper domain <h3>
</div>

{% set case = "Static" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $domain filter option works on a static target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <img id="{{id}}-pass-1" src="/testfiles/domain/static/excluded/image.png" data-dp="pass" aria-label="{{id}}-pass">
    <img id="{{id}}-fail-1" src="/testfiles/domain/static/target/image.png" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should not be blocked, and the red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/domain/static/target/$domain=abptestpages.*</pre></li>
  </ul>
</section>


{% set case = "Dynamic" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $domain filter option works on a dynamic target.</p>
  <div id="dynamic-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/domain/dynamic/$domain=abptestpages.*"</pre></li>
  </ul>
</section>

{% set case = "Element Hiding with Wildcards Domains and ID" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using an ID selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="eh-id" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>abptestpages.*###eh-id</pre></li>
  </ul>
</section>

{% set case = "Element Hiding with Wildcards Domains and Ends with Selector" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a ends with selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="color: white; width: 202px;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>abptestpages.*###div[style$="width: 202px;"]</pre></li>
  </ul>
</section>

{% set case = "Element Hiding with Wildcards Domains and selector Contains" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an element hiding filter using a contains selector hides its target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" style="color: white; width: 203px;" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">Target</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element should be hidden and the space collapsed.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>abptestpages.*###div[style*="width: 203px;"]</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/domain/dynamic/image.png";
  image.setAttribute("data-expectedresult", "fail");
  image.setAttribute("data-dp", "fail");
  image.setAttribute("aria-label", "{{id}}-fail");
  image.id = "{{id}}-fail-1";

  let area = document.getElementById("dynamic-target");
  area.appendChild(image);
</script>
