<!DOCTYPE html>
<html{% if public_key and signature %} data-adblockkey="{{ public_key + "_" + signature }}"{% endif %}>
  <head>
    <title>{{ title }}</title>
    <style>
      html,
      body {
        margin: 0;
        height: 100%;
      }

      .testcase-sitekey-eh {
        flex-grow: 1;
        padding: 0.5rem;
        color: #fff;
        background-color: #0dc74b;
      }
    </style>
    {{ head|safe }}
  </head>
  <body>
    Test /dynamic (remove)
    <div id="inframe-target" class="testcase-sitekey-eh">Exception Target</div>
    <img id="inframe-image" src="/testfiles/sitekey/inframe.png"/>
  </body>
</html>
