# This file is part of Adblock Plus <https://adblockplus.org/>,
# Copyright (C) 2006-present eyeo GmbH
#
# Adblock Plus is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3 as
# published by the Free Software Foundation.
#
# Adblock Plus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.

---

stages:
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"

default:
  tags:
    - runner-test

# TEST #########################################################################

.test_rules:
  stage: test
  rules:
    - if: $SKIP_CI_TESTS == "true"
      when: never
    - when: always
  interruptible: true

.test_runner:
  extends: .test_rules
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_DRIVER: overlay2

test:lint:
  extends: .test_runner
  script:
    - docker build -t lintimage -f test/lint.Dockerfile .
    - docker run -t lintimage

.test:
  extends: .test_runner
  script:
    - docker build -t testpages .
    - docker run --shm-size=1g -e GREP="$GREP" -t testpages
  after_script:
    - IMAGE_ID=$(docker ps -aqf ancestor=testpages)
    - docker cp $IMAGE_ID:/testpages.adblockplus.org/test/screenshots .
      2> /dev/null
    - docker cp $IMAGE_ID:/var/log/nginx/ .
  artifacts:
    paths:
      - screenshots/
      - nginx/
    when: on_failure
    expire_in: 1 mo

test:chrome:latest:
  extends: .test
  variables:
    GREP: chromium latest

test:chrome:beta:
  extends: .test
  allow_failure: true
  variables:
    GREP: chromium beta

test:chrome:dev:
  extends: .test
  allow_failure: true
  variables:
    GREP: chromium dev

test:chrome:oldest:
  extends: .test
  variables:
    GREP: chromium 77.0.3865.0

test:firefox:latest:
  extends: .test
  variables:
    GREP: firefox latest

test:firefox:beta:
  extends: .test
  allow_failure: true
  variables:
    GREP: firefox beta

test:firefox:oldest:
  extends: .test
  variables:
    GREP: firefox 68.0

test:edge:latest:
  extends: .test
  variables:
    GREP: edge latest
