# This file is part of Adblock Plus <https://adblockplus.org/>,
# Copyright (C) 2006-present eyeo GmbH
#
# Adblock Plus is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3 as
# published by the Free Software Foundation.
#
# Adblock Plus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.

---

stages:
  - build_extension
  - test
  - build_production
  - deploy_production

# TEST #########################################################################

.test_runner:
  image: docker:19.03.5
  stage: test
  services:
    - docker:19.03.5-dind
  before_script:
    - docker info
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  interruptible: true

test:lint:
  extends: .test_runner
  script:
    - docker build -t lintimage -f test/lint.Dockerfile .
    - docker run lintimage

.generateExtension: 
  extends: .test_runner
  stage: build_extension
  script:
    ## Build custom extension if on core-x branch
    - >
        if [[ $CI_COMMIT_REF_NAME == *"core"* ]]; then
            docker build --build-arg CORE_TAG=$CORE -t extensionimage -f \
            test/generateExtension.Dockerfile .
            docker container create --name extgen \
            extensionimage
            docker cp \
            extgen:/adblockplusui/adblockpluschrome/adblockpluschrome.zip .
            docker rm -f extgen
        fi
  artifacts:
      paths:
        - adblockpluschrome.zip
      when: on_success
      expire_in: 1 mo

.test:
  extends: .test_runner
  before_script:
    # yamllint disable-line rule:line-length
    - export CORE=$(echo $CI_COMMIT_REF_NAME | sed "s/.*core-//"| sed "s/./&./1;s/./&./3")
    - docker info
  script:
    - >
        if [[ $CI_COMMIT_REF_NAME == *"core"* ]]; then
                    ## Build and run testpages
            docker build -t testpages \
            --build-arg EXTENSION_FILE="adblockpluschrome.zip" .
            docker run --shm-size=256m -e TESTS_EXCLUDE="Snippets" \
            -e BROWSER="$BROWSER" testpages
        else
            docker build -t testpages .
            docker run --shm-size=256m -e BROWSER="$BROWSER" testpages
        fi
  after_script:
    - IMAGE_ID=$(docker ps -aqf ancestor=testpages)
    - docker cp $IMAGE_ID:/testpages.adblockplus.org/test/screenshots .
      2> /dev/null
    - docker cp $IMAGE_ID:/var/log/nginx/ .
  artifacts:
    paths:
      - screenshots/
      - nginx/
    when: on_failure
    expire_in: 1 mo

test:chrome:latest:
  extends: .test
  variables:
    BROWSER: Chromium \(latest\)

test:chrome:oldest:
  extends: .test
  variables:
    BROWSER: Chromium \(oldest\)

test:firefox:latest:
  extends: .test
  variables:
    BROWSER: Firefox \(latest\)

test:firefox:oldest:
  extends: .test
  variables:
    BROWSER: Firefox \(oldest\)

test:edge:
  stage: test
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    # Fix for refreshenv
    # https://gitlab.com/gitlab-org/ci-cd/shared-runners/images/gcp/windows-containers/-/issues/13#note_337853320
    - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
    # Install Microsoft Edge
    # yamllint disable-line rule:line-length
    - Invoke-WebRequest -Uri "${Env:CI_API_V4_URL}/projects/${Env:CI_PROJECT_ID}/packages/generic/microsoft-edge/79.0.309/MicrosoftEdgeEnterpriseX64.msi"
      -Headers @{'JOB-TOKEN' = $Env:CI_JOB_TOKEN}
      -OutFile 'MicrosoftEdgeEnterpriseX64.msi'
    - Start-Process msiexec
      -ArgumentList "/i MicrosoftEdgeEnterpriseX64.msi /norestart /qn" -Wait
    # Install other packages
    - choco install -y nginx --version=1.19.0
    - $Env:NGINX = "C:\tools\nginx-1.19.0"
    - $Env:NGINX_LINUX = "C:/tools/nginx-1.19.0"
    - choco install -y openssl.light
    - choco install -y python2
    - choco upgrade -y nodejs --version 16.10.0
    - refreshenv
    # nginx config
    - xcopy test\etc\nginx\* $Env:NGINX\conf\ /E /V /F /H
    - (Get-Content $Env:NGINX\conf\nginx.conf).replace("octet-stream;",
        "octet-stream;`n
        include $Env:NGINX_LINUX/conf/sites-enabled-windows/*.conf;"
      ) | Set-Content $Env:NGINX\conf\nginx.conf
    - openssl req -x509 -newkey rsa:4096
      -keyout $Env:NGINX\conf\${Env:DOMAIN}_key.pem
      -out $Env:NGINX\conf\${Env:DOMAIN}_cert.pem
      -days 365 -nodes -subj "/CN=$Env:DOMAIN"
    - echo "`n127.0.0.1 $Env:DOMAIN" |
      Add-Content c:\windows\system32\drivers\etc\hosts
    # Build CMS
    - git clone https://gitlab.com/eyeo/websites/cms.git
    - pip install -r cms\requirements.txt
    # Build tests
    - npm install
    # Generate test pages files
    - mkdir -p $Env:NGINX\html\$Env:DOMAIN
    - $Env:PYTHONPATH = "cms"
    - python -m cms.bin.generate_static_pages . $Env:NGINX\html\$Env:DOMAIN
    - >
      if($CI_COMMIT_REF_NAME -like 'core*')
        {
          docker build --build-arg CORE_TAG="$CORE" -t extensionimage -f test/generateExtension.Dockerfile .
          docker container create --name extgen extensionimage
          docker cp extgen:/adblockplusui/adblockpluschrome/adblockpluschrome.zip .
          docker rm -f extgen
          Expand-Archive adblockpluschrome.zip -DestinationPath ./testext
        }

  script:
    # Run testpages server
    - Start-Process "$Env:NGINX\nginx.exe" -WorkingDirectory "$Env:NGINX"
      -PassThru
     # Download extension
    - >
      if($CI_COMMIT_REF_NAME -notlike 'core*')
      {
        node ./test/extension-tests/extension-download.js
        # Run tests
        npm test -- -g "Edge"
      }
      else
      {
      npm run test -- -g "^Edge.*((?!Snippets).)*$"
      }

  variables:
    TEST_PAGES_URL: https://local.testpages.adblockplus.org:5000/en/
    SITE_URL: https://local.testpages.adblockplus.org:5000
    DOMAIN: local.testpages.adblockplus.org
    TEST_PAGES_INSECURE: "true"
  artifacts:
    paths:
      - testpages.adblockplus.org/test/screenshots
    when: on_failure
    expire_in: 1 mo
  interruptible: true

# BUILD, DEPLOY ################################################################

.production:
  tags:
    - eyeo_cms_web_server_testpages-1.uplink.eyeo.it
  only:
    - master

.build_production:
  stage: build_production
  extends: .production
  script:
    - env PYTHONPATH=/opt/cms:/opt/sitescripts
      python -m cms.bin.generate_static_pages $PWD build
  artifacts:
    name: $CI_COMMIT_REF_SLUG
    paths:
      - build

build:testpages:
  extends: .build_production
  variables:
    SITE_URL: https://testpages.adblockplus.org

build:abptestpages:
  extends: .build_production
  variables:
    SITE_URL: https://abptestpages.org

.deploy_production:
  stage: deploy_production
  extends: .production
  script:
    - sudo /usr/local/sbin/deploy_eyeo_cms_web_$DOMAIN $CI_PROJECT_DIR/build/
  environment:
    name: $DOMAIN
    url: https://$DOMAIN

deploy:testpages:
  extends: .deploy_production
  dependencies:
    - build:testpages
  variables:
    DOMAIN: testpages.adblockplus.org

deploy:abptestpages:
  extends: .deploy_production
  dependencies:
    - build:abptestpages
  variables:
    DOMAIN: abptestpages.org
