template = testcase
title = CSP Generic Block Exception
description = Check that usage of the $csp filter option in a genericblock exception is working as expected.

{% set case = "Genericblock Exception usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that the $csp filter option in a genericblock exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="genericblock-javascript" data-expectedresult="pass"></div>
    <div class="testcase-expected-view"><img src="/images/expected.png"></div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should be blocked.</li>
    <li>Add filter #2.</li>
    <li>The the green image containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/{{ locale }}/{{ page }}^$csp=script-src {{ site_url }}/lib/utils.js</pre></li>
    <li><pre>@@||{{ site_url|strip_proto }}/{{ locale }}/{{ page }}^$genericblock</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/csp_exception/image.png";
  document.getElementById("genericblock-javascript").appendChild(image);
</script>
