template = testcase
title = Elem Hide
description = Check that a filter using the $elemhide exception filter option is working as expected.

<section class="testcase-panel">
  {{ heading("Basic usage") }}
  <p>Test that a filter using the $elemhide filter option whitelists only hiding filters.</p>
  <div class="testcase-area">
    <img src="/testfiles/elemhide/image.png" data-expectedresult="fail">
    <div class="testcase-expected-view">Exception target</div>
    <div class="ex-elemhide" data-expectedresult="pass">Exception target</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1 and filter #2.</li>
    <li>Refresh page.</li>
    <li>Both the red image and the green element containing the white square should be blocked.</li>
    <li>Add filter #3.</li>
    <li>The red image should still be blocked but the green element containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.ex-elemhide</pre></li>
    <li><pre>||{{ site_url|strip_proto }}/testfiles/elemhide/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/en/exceptions/elemhide$elemhide</pre></li>
  </ul>
</section>
