template = testcase
title = Generic Block
description = Check that a filter using the $genericblock exception filter option is working as expected.

<section class="testcase-panel">
  {{ heading("Basic usage") }}
  <p>Test that a filter using the $genericblock filter option whitelists only generic blocking filters.</p>
  <div class="testcase-area">
    <img src="/testfiles/genericblock/specific.png" data-expectedresult="fail">
    <img src="/images/expected.png" class="testcase-expected-view">
    <img src="/testfiles/genericblock/generic.png" data-expectedresult="pass">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1 and filter #2.</li>
    <li>Refresh page.</li>
    <li>Both the red image and the green element containing the white square should be blocked.</li>
    <li>Add filter #3.</li>
    <li>The red image should still be blocked but the green element containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>/testfiles/genericblock/generic.png</pre></li>
    <li><pre>/testfiles/genericblock/specific.png$domain={{ site_url|domain }}</pre></li>
    <li><pre>@@||{{ site_url|strip_proto }}/en/exceptions/genericblock$genericblock</pre></li>
  </ul>
</section>
