template = testcase
title = Header Exception
description = Check that usage of the $header filter option in an exception is working as expected.

<section class="testcase-panel">
  {{ heading("Image header exception") }}
  <p>Test that the $header filter option in an exception works.</p>
  <div class="testcase-area">
    <img src="/testfiles/header_exception/image.png">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should be blocked.</li>
    <li>Add filter #2.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/header_exception/$header=content-type=image/png</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/header_exception/$header</pre></li>
  </ul>
</section>
