template = testcase
title = iFrame Exception
description = Check that usage loading frames across subdomains works with exceptions. Note: This page won't work on CI as requires two different subdomains.

{% set case = "iFrame exception" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that loading frames across different subdomains with an exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="script-target"></div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1 and #2.</li>
    <li>Refresh page.</li>
    <li>iFrame containing the green square should be blocked.</li>
    <li>Add filter #3.</li>
    <li>Refresh page.</li>
    <li>iFrame containing the green square should be unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
  <li><pre>https://blocked.abptestpages.org/testfiles/iframe_exception/expected.png</pre></li>
  <li><pre>##[alt="Test image placeholder"]</pre></li>
  <li><pre>@@||blocked.abptestpages.org^$document,domain=allowed.abptestpages.org</pre></li>
  </ul>
</section>

{% set case = "combined $subdocument and $document options in exception" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an exception filter defined with both $subdocument and $document option is applied like a $subdocument filter to an iframe</p>
  <div id="{{id}}-area" class="testcase-area">
    <iframe src="https://allowed.abptestpages.org/testfiles/iframe_exception/subdomain_parent.html" width="300" height="300"></iframe>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1 and #2.</li>
    <li>Refresh page.</li>
    <li>iFrame containing the green square should be blocked.</li>
    <li>Add filter #3.</li>
    <li>Refresh page.</li>
    <li>iFrame containing the green square should be unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
  <li><pre>https://subdomain.abptestpages.org/testfiles/iframe_exception/subdomain_expected.png</pre></li>
  <li><pre>##[alt="Test subdomain image placeholder"]</pre></li>
  <li><pre>@@||allowed.abptestpages.org^$document,subdocument</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let parentFrame = document.getElementById("script-target");
  let iframe = document.createElement("iframe");
  iframe.src = "https://allowed.abptestpages.org/testfiles/iframe_exception/parent.html";
  iframe.width = "300";
  iframe.height = "300";
  parentFrame.appendChild(iframe);
</script>
