template = testcase
title = iFrame Exception
description = Check that usage loading frames works with exceptions

{% set case = "iFrame exception" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that loading frames across different subdomains with an exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="script-target" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-pass"></div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should be blocked.</li>

  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>@@||blocked.abptestpages.org^$document,domain=allowed.abptestpages.org</pre></li>
  </ul>
</section>

<script src="/testfiles/iframe_exception/iframe_exception.js"></script>
