template = testcase
title = Image Exception
description = Check that usage of the $image filter option in an exception is working as expected.

<link rel="stylesheet" href="/testfiles/image_exception/stylesheet.css">

<section class="testcase-panel">
  {{ heading("Basic usage") }}
  <p>Test that the $image filter option in an exception works.</p>
  <div class="testcase-area">
    <img src="/testfiles/image_exception/image.png">
    <div class="testcase-expected-view">This should be a green element.</div>
    <div id="exception-target" data-expectedresult="pass">This should be a green element.</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The element should not look red, and the green image containing the white square should be blocked.</li>
    <li>Add filter #2.</li>
    <li>The element should still not look red, but the green image containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/image_exception/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/image_exception/$image</pre></li>
  </ul>
</section>
