template = testcase
title = Popup Exception
description = Check that usage of the $popup filter option in an exception is working as expected.

<section class="testcase-panel">
  <h2>Link based popup exception</h2>
  <p>Test that the link-based $popup filter option in an exception works.</p>
  <div class="testcase-area">
    <a href="/testfiles/popup_exception/link.html" target="_blank" class="testcase-trigger">Trigger link based popup</a><br><br>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1 and #2.</li>
    <li>Refresh page.</li>
    <li>Click the link above.</li>
    <li>The popup should not be blocked and open succesfully.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/popup_exception/link.html^$popup</pre></li>
    <li><pre>@@||{{ site_url|strip_proto }}/testfiles/popup_exception/link.html^$popup</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="script-target">Script based popup exception</h2>
  <p>Test that the script-based $popup filter option in an exception works.</p>
  <div class="testcase-area">
    <a href="#script-target" class="testcase-trigger" onclick="scriptPopup();">Trigger script based popup</a>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1 and #2.</li>
    <li>Refresh page.</li>
    <li>Click the link above.</li>
    <li>The popup should not be blocked and open succesfully.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/popup_exception/script.html^$popup</pre></li>
    <li><pre>@@||{{ site_url|strip_proto }}/testfiles/popup_exception/script.html^$popup</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function scriptPopup()
  {
    window.open("/testfiles/popup_exception/script.html");
  }
</script>
