template = testcase
title = Sitekey
description = Check that a filter using the $sitekey exception filter option is working as expected.

<section class="testcase-panel">
  <h2>Sitekey</h2>
  <p>Test that a filter using the $sitekey option whitelists in frame elements.</p>
  <h3>Out of frame elements</h3>
  <div class="testcase-area">
    <div class="testcase-sitekey-eh" data-expectedresult="fail">Target element</div>
    <div class="testcase-examplecontent">Example Content</div>
    <img src="/testfiles/sitekey/outofframe.png" data-expectedresult="fail">
  </div>
  <h3>In frame elements</h3>
  <div class="testcase-area">
    {# /sitekey-frame is served by https://gitlab.com/eyeo/devops/legacy/sitescripts/-/tree/master/sitescripts/testpages/web which parses /templates/sitekey_frame.tmpl #}
    <iframe src="/sitekey-frame" style="width: 100%;"></iframe>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1, #2 and #3.</li>
    <li>Refresh page.</li>
    <li>All elements should be blocked from both out of frame and in frame above.</li>
    <li>Add filter #4.</li>
    <li>Refresh page.</li>
    <li>Out of frame elements should keep blocked, and in frame elements should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-sitekey-eh</pre></li>
    <li><pre>||{{ site_url|strip_proto }}/testfiles/sitekey/outofframe.png</pre></li>
    <li><pre>||{{ site_url|strip_proto }}/testfiles/sitekey/inframe.png</pre></li>
    <li><pre>@@$document,sitekey=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANGtTstne7e8MbmDHDiMFkGbcuBgXmiVesGOG3gtYeM1EkrzVhBjGUvKXYE4GLFwqty3v5MuWWbvItUWBTYoVVsCAwEAAQ</pre></li>
  </ul>
</section>
