template = testcase
title = Sitekey
description = Check that a filter using the $sitekey exception filter option is working as expected.

{% set case = "Sitekey" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter using the $sitekey option whitelists in frame elements.</p>
  <h3>Out of frame elements</h3>
  <div id="{{id}}-area" class="testcase-area">
    <div id="{{id}}-fail-1" class="testcase-sitekey-eh" data-expectedresult="fail" data-dp="fail">Target element</div>
    <div class="testcase-examplecontent">Example Content</div>
    <img id="{{id}}-fail-2" src="/testfiles/sitekey/outofframe.png" data-expectedresult="fail" data-dp="fail">
  </div>
  <h3>In frame elements</h3>
  <div id="{{id}}-area" class="testcase-area">
    {# /sitekey-frame is served by https://gitlab.com/eyeo/devops/legacy/sitescripts/-/tree/master/sitescripts/testpages/web which parses /static/sitekey_frame.tmpl #}
    <iframe id="sitekey-frame" src="/sitekey-frame" style="width: 100%;"></iframe>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1, #2 and #3.</li>
    <li>Refresh page.</li>
    <li>All elements should be blocked from both out of frame and in frame above.</li>
    <li>Add filter #4.</li>
    <li>Refresh page.</li>
    <li>Out of frame elements should keep blocked, and in frame elements should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}##.testcase-sitekey-eh</pre></li>
    <li><pre>||{{ site_url|strip_proto }}/testfiles/sitekey/outofframe.png</pre></li>
    <li><pre>||{{ site_url|strip_proto }}/testfiles/sitekey/inframe.png</pre></li>
    <li><pre>@@$document,sitekey=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANGtTstne7e8MbmDHDiMFkGbcuBgXmiVesGOG3gtYeM1EkrzVhBjGUvKXYE4GLFwqty3v5MuWWbvItUWBTYoVVsCAwEAAQ</pre></li>
  </ul>
</section>

<script>
  "use strict";

  if (expectedParameter()) { // eslint-disable-line no-undef
    let frameDoc = document.getElementById("sitekey-frame").contentDocument;
    frameDoc.write(`
      <body>
        <style>
          html,
          body {
            margin: 0;
            height: 100%;
          }

          .testcase-sitekey-expected {
            flex-grow: 1;
            padding: 0.5rem;
            color: #fff;
            background-color: #0dc74b;
          }
        </style>
        <div class="testcase-sitekey-expected">Exception Target</div>
        <img src="/images/expected.png"/>
      </body>`);
    frameDoc.close();
  }
</script>
