template = testcase
title = Subdocument Exception
description = Check that usage of the $subdocument filter option in an exception is working as expected.

<link rel="stylesheet" href="/testfiles/subdocument_exception/stylesheet.css">

{% set case = "Exception usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that the $subdocument filter option in an exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <iframe id="{{id}}-pass-1" src="/testfiles/subdocument_exception/subdocument.html" style="border: 0; width: 100px; height: 100px;"></iframe>
    <div class="testcase-expected-view" aria-label="{{id}}-expected">This should be a green element.</div>
    <div id="exception-target" data-expectedresult="pass" data-dp="pass" aria-label="{{id}}-pass">This should be a green element.</div>
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The element should not look red, and the subdocument should be blocked.</li>
    <li>Add filter #2.</li>
    <li>The element should still not look red, but the subdocument should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/subdocument_exception/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/subdocument_exception/$subdocument</pre></li>
  </ul>
</section>

