template = testcase
title = Subdocument Exception
description = Check that usage of the $subdocument filter option in an exception is working as expected.

<link rel="stylesheet" href="/testfiles/subdocument_exception/stylesheet.css">

<section class="testcase-panel">
  <h2>Exception usage</h2>
  <p>Test that the $subdocument filter option in an exception works.</p>
  <div class="testcase-area">
    <iframe src="/testfiles/subdocument_exception/subdocument.html" style="border: 0; width: 100px; height: 100px;"></iframe>
    <div class="testcase-expected-view">This should be a green element.</div>
    <div id="exception-target" data-expectedresult="pass">This should be a green element.</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The element should not look red, and the subdocument should be blocked.</li>
    <li>Add filter #2.</li>
    <li>The element should still not look red, but the subdocument should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/subdocument_exception/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/subdocument_exception/$subdocument</pre></li>
  </ul>
</section>
