template = testcase
title = WebSocket Exception
description = Check that usage of the $websocket filter option in an exception is working as expected.

{% set case = "Exception usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that the $websocket filter option in an exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div id="testcase-status" class="testcase-trigger" aria-label="trigger">Triggering WebSocket connection...</div>
    <div class="testcase-expected-view">Passed. Connection was NOT blocked.</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Check that the connection is NOT blocked before adding the filters. That means the testcase above currently passes.</li>
    <li>Add filter #1 and refresh page.</li>
    <li>Check that the connection is blocked and the testcase above fails.</li>
    <li>Add filter #2 and refresh page.</li>
    <li>The connection should NOT be blocked and its state indicated in the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}/exception_websocket$websocket,domain={{ site_url|domain }}</pre></li>
    <li><pre>@@{{ site_url|domain }}/exception_websocket$websocket,domain={{ site_url|domain }}</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let url = "wss://{{ site_url|strip_proto }}/exception_websocket";
  let websocket = new WebSocket(url);
  websocket.onopen = function() {
    websocket.send("Test message was echoed back");
  };
  websocket.onmessage = function() {
    let result = document.getElementById("testcase-status");
    result.innerHTML = "Passed. Connection was NOT blocked.";
    result.setAttribute("data-expectedresult", "pass");
    result.setAttribute("data-dp", "pass");
    result.setAttribute("aria-label", "{{id}}-pass");
  };
  websocket.onerror = function() {
    let result = document.getElementById("testcase-status");
    result.innerHTML = "Failed. Connection was blocked.";
    result.setAttribute("data-expectedresult", "fail");
    result.setAttribute("data-dp", "fail");
    result.setAttribute("aria-label", "{{id}}-fail");
  };
</script>
