template = testcase
title = XMLHTTPRequest Exception
description = Check that usage of the $xmlhttprequest filter option in an exception is working as expected.

{% set case = "Exception usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that the $xmlhttprequest filter option in an exception works.</p>
  <div id="{{id}}-area" class="testcase-area">
    <img id="{{id}}-fail-1" src="/testfiles/xmlhttprequest_exception/image.png" data-expectedresult="fail" data-dp="fail" aria-label="{{id}}-fail">
    <div id="testcase-status" class="testcase-trigger" aria-label="trigger">Triggering XMLHTTPRequest connection...</div>
    <div class="testcase-expected-view">Text loaded via XMLHTTPRequest Exception.</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1 and #2.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the xmlhttprequest should not be blocked, loading a text in the element above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/xmlhttprequest_exception/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/xmlhttprequest_exception/$xmlhttprequest</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let req = new XMLHttpRequest();

  req.onerror = function(e)
  {
    let result = document.getElementById("testcase-status");
    result.innerHTML = "Failed. Connection was blocked.";
    result.setAttribute("data-expectedresult", "fail");
    result.setAttribute("data-dp", "fail");
    result.setAttribute("aria-label", "{{id}}-fail");
  };
  req.onload = function(e)
  {
    if (this.status == 200)
    {
      let result = document.getElementById("testcase-status");
      result.innerHTML = this.responseText;
      result.setAttribute("data-expectedresult", "pass");
      result.setAttribute("data-dp", "pass");
      result.setAttribute("aria-label", "{{id}}-pass");
    }
  };

  setTimeout(() =>
  {
    req.open("GET", "{{ site_url }}/testfiles/xmlhttprequest_exception/text.txt", true);
    req.send();
  }, 500);
</script>
