template = testcase
title = ABP Kit Allowlist Domains
description = Check that a filters are not applied when domain is added to Allowlist Domains in ABP Kit.

{% set case = "Dynamic" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>Image, dynamic target.</p>
  <div id="image-dynamic" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
</section>

{% set case = "Static Domain" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>Static target with excluded.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <img src="/testfiles/domain/static/excluded/image.png">
    <img src="/testfiles/domain/static/target/image.png" data-expectedresult="fail" aria-label="{{id}}-fail">
  </div>
</section>

{% set case = "Image Static" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>Image on a static target.</p>
  <div class="testcase-area" >
    <img src="/testfiles/image/static/static.png" data-expectedresult="fail" aria-label="{{id}}-fail">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
</section>

{% set case = "Stylesheet" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>Stylesheet on an external stylesheet.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-expected-view" aria-label="{{id}}-example">Passed. Stylesheet was blocked.</div>
    <div id="stylesheet-target" data-expectedresult="fail" aria-label="{{id}}-fail"></div>
  </div>
</section>

<link rel="stylesheet" href="/testfiles/stylesheet/stylesheet.css">
<script>
  "use strict";
  
  function setAttributes(el, attrs) {
    for (let key in attrs)
      el.setAttribute(key, attrs[key]);
  }

  setTimeout(() => {
    let target = document.getElementById("stylesheet-target");
    let targetStyle = getComputedStyle(target);
    if (targetStyle.width === "150px") {
      target.innerHTML = "Failed. Stylesheet was NOT blocked.";
    }
    else {
      target.innerHTML = "Passed. Stylesheet was blocked.";
      // Style must be equal to .testcase-expected-view,
      target.style = `flex-grow: 1;
        padding: .5rem;
        color: #fff;
        background-color: #0dc74b;`;
    }
  }, 500);
  
  let image = document.createElement("img");
  let area = document.getElementById("image-dynamic");
  image.src = "/testfiles/image/dynamic/dynamic.png";
  setAttributes(image, {"data-expectedresult": "fail", "aria-label": "dynamic-fail"});
  area.appendChild(image);
</script>
