title = abort-on-iframe-property-write
description = Check that the abort-on-iframe-property-write snippet is working as expected.
template = testcase

<script src="/testfiles/abort-on-iframe/utils.js"></script>

{% set case = "Basic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-on-iframe-property-write aoipwb</pre></li>
  </ul>
</section>

{% set case = "Sub property" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with sub properties works as expected.</p>
  <div id="subproperty-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-on-iframe-property-write aoipw.sp</pre></li>
  </ul>
</section>

{% set case = "Multiple properties" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with multiple properties works as expected.</p>
  <div id="multipleproperties-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-on-iframe-property-write aoipw1 aoipw2</pre></li>
  </ul>
</section>

<script>
  "use strict";

  window.addEventListener("load", () => {
    setTimeout(() => testAbortOnIframePropertyWrite("basic", ["aoipwb"]), 300); // eslint-disable-line no-undef
    setTimeout(() => testAbortOnIframePropertyWrite( // eslint-disable-line no-undef
      "subproperty", ["aoipw.sp"], iframe => iframe.contentWindow.aoipw = {sp: false}), 300);
    setTimeout(() => testAbortOnIframePropertyWrite( // eslint-disable-line no-undef
      "multipleproperties", ["aoipw1", "aoipw2"]), 300);
  });
</script>
