title = abort-current-inline-script
template = testcase

<section class="site-panel">
  <h2>abort-current-inline-script</h2>
  <p>Check that the abort-current-inline-script snippet is working as expected.</p>
</section>

<section class="testcase-panel">
  <h2 id="basic">Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.group</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="search">Search usage</h2>
  <p>Test that usage of the snippet with the optional search parameter works as expected.</p>
  <div id="search-target" class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.info acis-search</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="regex">Regex usage</h2>
  <p>Test that usage of the snippet with the optional search parameter as a regex works as expected.</p>
  <div id="regex-target" class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.warn '/acis-regex[1-2]/'</pre></li>
  </ul>
</section>

<script>
  let script = document.createElement("script");
  script.src = "/testfiles/abort-current-inline-script/script.js?" + Math.floor(Math.random() * 1e8);
  script.async = false;
  document.head.appendChild(script);
</script>
