template = testcase
title = abort-current-inline-script
description = Check that the abort-current-inline-script snippet is working as expected.

<section class="testcase-panel">
  <h2>Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.group</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Search usage</h2>
  <p>Test that usage of the snippet with the optional search parameter works as expected.</p>
  <div id="search-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.info acis-search</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Regex usage</h2>
  <p>Test that usage of the snippet with the optional search parameter as a regex works as expected.</p>
  <div id="regex-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be aborted and not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#abort-current-inline-script console.warn '/acis-regex[1-2]/'</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function injectScript(id, code)
  {
    let script = document.createElement("script");
    script.textContent = `
      (function()
      {
        ${code}
        let failElement = document.createElement("div");
        failElement.textContent = "Failed. Script ran and was applied to the page.";
        failElement.setAttribute("data-expectedresult", "fail");
        document.getElementById("${id}-target").appendChild(failElement);
        console.log('Failed. Script "${id}" ran completely and was applied to the page.');
      })();`;
    document.body.appendChild(script);
  }

  setTimeout(() =>
  {
    removeWaitingContent(); // eslint-disable-line no-undef

    injectScript("basic", 'console.group("abort-current-inline-script");');
    injectScript("search", 'console.info("acis-search");');
    injectScript("regex", 'console.warn("acis-regex1");');
  }, 500);
</script>
