template = testcase
title = dir-string
description = Check that the dir-string snippet is working as expected.

{% set case = "Basic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div id="atsy2t" data-expectedresult="fail">Failed. Element is not hidden.</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#dir-string</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function snippetTest(times)
  {
    let re = /foo/;
    let n = 0;

    re.toString = function()
    {
      if (++n > times)
      {
        let element = document.getElementById("atsy2t");
        element.parentElement.removeChild(element);

        delete re.toString;
      }
      return "";
    };

    console.dir(re); // eslint-disable-line no-console
  }

  setTimeout(() =>
  {
    let times = navigator.userAgent.includes("Chrome") ? 1 : 0;
    snippetTest(times);
  }, 500);
</script>
