title = freeze-element
description = Check that the freeze-element snippet is working as expected.
template = testcase

{% set case = "Basic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
    <div id="freeze-basic-target"></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be blocked from adding a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#freeze-element #freeze-basic-target</pre></li>
  </ul>
</section>

<script>
  "use strict";

  setTimeout(() => {
    removeWaitingContent(); // eslint-disable-line no-undef

    let failElement = document.createElement("div");
    failElement.innerHTML = "Failed. Element was modified.";
    failElement.setAttribute("data-expectedresult", "fail");
    failElement.setAttribute("aria-label", "fail");
    document.getElementById("freeze-basic-target").appendChild(failElement);
  }, 500);
</script>

{% set case = "Subtree" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that the subtree option also freezes descendant elements.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
    <div id="freeze-subtree-wrapper">
      <div id="freeze-subtree-child"></div>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should be blocked from adding a red element to the descendant element in the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#freeze-element #freeze-subtree-wrapper subtree</pre></li>
  </ul>
</section>

<script>
  "use strict";

  setTimeout(() => {
    removeWaitingContent(); // eslint-disable-line no-undef

    let failElement = document.createElement("div");
    failElement.innerHTML = "Failed. Descendant element was modified.";
    failElement.setAttribute("data-expectedresult", "fail");
    failElement.setAttribute("aria-label", "fail");
    // appending to child, but the filter freezes #freeze-subtree-wrapper (the parent)
    document.getElementById("freeze-subtree-child").appendChild(failElement);
  }, 500);
</script>
