template = testcase
title = hide-if-has-and-matches-style
description = Check that the hide-if-has-and-matches-style snippet is working as expected.

<section class="testcase-panel">
  <h2 id="basic">Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should not add a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-has-and-matches-style a[href="#basic-target-ad"] div[id] span.label /./ 'display: inline;'</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2 id="comments">Legit elements usage</h2>
  <p>Test that usage of the snippet with legit elements works as expected.</p>
  <div id="comments-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
    <div class="testcase-output-expected"><span>Should not be hidden</span></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should add a green element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-has-and-matches-style a[href="#comments-target-ad"] div[id] span.label ';' /\\bdisplay:\ inline\;/</pre></li>
  </ul>
</section>

<script src="/testfiles/hide-if-has-and-matches-style/script.js"></script>
