template = testcase
title = hide-if-svg-contains
description = Check that the hide-if-svg-contains snippet is working as expected.

{% set case = "Basic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="target-basic" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-svg-contains /basic/ 'div[shouldhide]' 'div[shouldcheck]'</pre></li>
  </ul>
</section>

{% set case = "Override text default invisibility styles" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that default invisibility style checks can be overriden.</p>
  <div id="target-style" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-svg-contains /style/ 'div[shouldhide]' 'div[shouldcheck]' 'fill:black'</pre></li>
  </ul>
</section>

{% set case = "Text moved outside of view(not visible)" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test usage of the snippet with text moved out of view(should be hidden when 'contained-check' is disabled)</p>
  <div id="target-moved" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-svg-contains /contained/ 'div[shouldhide]' 'div[shouldcheck]' '-disable-contained-check:true'</pre></li>
  </ul>
</section>

{% set case = "Text moved outside of view(more than default threshold=500)" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test usage of the snippet with text moved out of view(should be hidden when 'position-threshold' is increased)</p>
  <div id="target-threshold" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-svg-contains /threshold/ 'div[shouldhide]' 'div[shouldcheck]' '-position-threshold:700'</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function createElementWithSvgBackground(adInnerText, svgContent, targetId) {
    let encodedSvg = `data:image/svg+xml;base64,${btoa(svgContent)}`;
    let ad = document.createElement("div");
    ad.setAttribute("data-expectedresult", "fail");
    ad.setAttribute("aria-label", "{{id}}-fail");
    ad.setAttribute("shouldhide", "true");
    ad.innerHTML = `<div shouldcheck=true style='padding: .5rem; width: 150px; height: 100px; background-image: url("${encodedSvg}");'>${adInnerText}</div>`; // eslint-disable-line max-len
    let target = document.getElementById(targetId);
    target.appendChild(ad);
  }

  setTimeout(() => {
    let basicSvg = "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text fill='rgb(255, 255, 255)' font-size='16' font-family='Market Sans,Arial,sans-serif' x='0' y='17'>hisc-sponsored-basic</text></svg>"; // eslint-disable-line max-len
    createElementWithSvgBackground("", basicSvg, "target-basic");
    let svgWithHiddenText = "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text fill='none' font-size='16' font-family='Market Sans,Arial,sans-serif' x='0' y='17'>hisc-sponsored-style</text></svg>"; // eslint-disable-line max-len
    createElementWithSvgBackground("Inspect to see SVG with invisible text", svgWithHiddenText, "target-style");
    let svgWithMovedText1 = "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text fill='rgb(255, 255, 255)' font-size='16' font-family='Market Sans,Arial,sans-serif' x='600' y='600'>hisc-sponsored-contained</text></svg>"; // eslint-disable-line max-len
    createElementWithSvgBackground("Inspect to see SVG with text moved out of view", svgWithMovedText1, "target-moved");
    let svgWithMovedText2 = "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text fill='rgb(255, 255, 255)' font-size='16' font-family='Market Sans,Arial,sans-serif' x='600' y='600'>hisc-sponsored-threshold</text></svg>"; // eslint-disable-line max-len
    createElementWithSvgBackground("Inspect to see SVG with text moved out of view", svgWithMovedText2, "target-threshold"); // eslint-disable-line max-len

    removeWaitingContent(); // eslint-disable-line no-undef
  }, 1000);
</script>