template = testcase
title = hide-if-contains
description = Check that the hide-if-contains snippet is working as expected.

{% set case = "Static usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected against a static target.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <p id="hic-static-id" data-expectedresult="fail">hic-basic-static<br>Failed. Element is not hidden.</p>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains 'hic-basic-static' p[id]</pre></li>
  </ul>
</section>

{% set case = "Dynamic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected against a dynamic target.</p>
  <div id="basic-dynamic-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element added to the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains 'hic-basic-dynamic' p[id]</pre></li>
  </ul>
</section>

{% set case = "Search usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with the search parameter works as expected.</p>
  <div id="search1-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
    <div class="testcase-expected-view">hic-search<br>Should not be hidden</div>
  </div>
  <div id="search2-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains 'hic-search' p[id] .target</pre></li>
  </ul>
</section>

<script>
  "use strict";

  function injectElement(id, element)
  {
    let target = document.getElementById(`${id}-target`);
    target.appendChild(element);
  }

  setTimeout(() =>
  {
    removeWaitingContent(); // eslint-disable-line no-undef

    let dynamic = document.createElement("p");
    dynamic.id = "hic-dynamic-id";
    dynamic.innerHTML = "<div>hic-basic-dynamic<br>Failed. Element is not hidden.</div>";
    dynamic.setAttribute("data-expectedresult", "fail");


    let search1 = document.createElement("p");
    search1.id = Math.random().toString(36).substring(2);
    search1.setAttribute("data-expectedresult", "pass");
    search1.innerHTML = "hic-search<br>Should not be hidden";

    let search2 = document.createElement("p");
    search2.id = Math.random().toString(36).substring(2);
    search2.className = "target";
    search2.setAttribute("data-expectedresult", "fail");
    search2.innerHTML = "hic-search<br>Failed. Element is not hidden.";

    injectElement("basic-dynamic", dynamic);
    injectElement("search1", search1);
    injectElement("search2", search2);
  }, 500);
</script>

{% set case = "Regex usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with regex works as expected.</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <p class="testcase-expected-view">hic-regex-1<br>Should not be hidden</p>
    <p id="hic-regex-1" data-expectedresult="pass">hic-regex-1<br>Should not be hidden</p>
    <p id="hic-regex-2" data-expectedresult="fail">hic-regex-2<br>Failed. Element is not hidden.</p>
    <p id="hic-regex-3" data-expectedresult="fail">hic-regex-3<br>Failed. Element is not hidden.</p>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red elements in the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains /hic-regex-[2-3]/ p[id]</pre></li>
  </ul>
</section>

{% set case = "Frame usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet in a frame works as expected.</p>
  <div id="{{id}}-area" class="testcase-area">
    <iframe src="/testfiles/hide-if-contains/subdocument_expected.html" style="border: 0; width: 200px; height: 100px;" class="testcase-expected-view"></iframe>
    <iframe src="/testfiles/hide-if-contains/subdocument.html" style="border: 0; width: 200px; height: 100px; flex-grow: 1;" data-expectedresult="pass"></iframe>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains hidden span#frame-target</pre></li>
  </ul>
</section>
