template = testcase
title = hide-if-contains-image
description = Check that the hide-if-contains-image snippet is working as expected.

<section class="testcase-panel">
  <h2 id="basic">Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="before-target" class="testcase-area testcase-container">
    <div class="testcase-waitingcontent blocked">Waiting 500ms to trigger snippet...</div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <div id="after-target" class="testcase-area testcase-container">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waitingcontent blocked">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red images inside in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-image /^89504e470d0a1a0a0000000d4948445200000064000000640802/ div[shouldhide] div</pre></li>
  </ul>
</section>

<script>
  "use strict";

  setTimeout(() =>
  {
    let ad = document.createElement("div");
    ad.id = Math.random().toString(36).substring(2);
    ad.className = "testcase-bad-element blocked";
    ad.setAttribute("shouldhide", "true");
    ad.innerHTML = "<div style='padding: .5rem; width: 100px; height: 100px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAADrSURBVHhe7dChAYBAEMCwA88m7L8Ca2F+gKtPTH2v73mHnfuUBbMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCswKzArMCs9Zmfv+MAcgY/EOpAAAAAElFTkSuQmCC)'>Should be hidden</div>"; // eslint-disable-line max-len

    let ad2 = document.createElement("div");
    ad2.id = Math.random().toString(36).substring(2);
    ad2.className = "testcase-bad-element blocked";
    ad2.setAttribute("shouldhide", "true");
    ad2.innerHTML = ad.innerHTML;

    let before = document.getElementById("before-target");
    before.querySelector(".testcase-waitingcontent").remove();
    before.insertBefore(ad, before.firstElementChild);

    let after = document.getElementById("after-target");
    after.querySelector(".testcase-waitingcontent").remove();
    after.appendChild(ad2);
  }, 500);
</script>
