template = testcase
title = hide-if-contains-and-matches-style
description = Check that the hide-if-contains-and-matches-style snippet is working as expected.

<section class="testcase-panel">
  <h2>Basic static usage</h2>
  <p>Test that basic usage of the snippet works as expected against a static target.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div id="isnfnv" data-expectedresult="fail"><div><span>Failed. Element is not hidden.</span><span class="label">hicamss</span></div></div>
    <div class="testcase-expected-view"><div><span>Should not be hidden.</span></div></div>
    <div id="lkvsaq" data-expectedresult="pass"><div><span>Should not be hidden.</span><span class="label" style="display: none;">hicamss</span></div></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element inside in the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-and-matches-style hicamss div[id] span.label /./ 'display: inline;'</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Basic dynamic usage</h2>
  <p>Test that basic usage of the snippet works as expected against a dynamic target.</p>
  <div id="dynamic-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
    <div class="testcase-expected-view"><div><span>Should not be hidden.</span></div></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element added to the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-and-matches-style hicamsd div[id] span.label /./ 'display: inline;'</pre></li>
  </ul>
</section>

<script>
  "use strict";

  setTimeout(() =>
  {
    removeWaitingContent(); // eslint-disable-line no-undef

    let ad = document.createElement("div");
    ad.id = Math.random().toString(36).substring(2);
    ad.setAttribute("data-expectedresult", "fail");
    ad.innerHTML = `<div><span>Failed. Script ran and was applied to the page.</span>
      <span class='label'>hicamsd</span></div>`;

    let result = document.createElement("div");
    result.id = Math.random().toString(36).substring(2);
    result.setAttribute("data-expectedresult", "pass");
    result.innerHTML = `<div><span>Should not be hidden.</span>
      <span class='label' style='display: none'>hicamsd</span></div>`;

    let target = document.getElementById("dynamic-target");
    target.appendChild(ad);
    target.appendChild(result);
  }, 500);
</script>
