template = testcase
title = hide-if-contains-visible-text
description = Check that the hide-if-contains-visible-text snippet is working as expected.

<style type="text/css">
  .transparent {
    opacity: 0;
    position: absolute;
    display: block;
    color: transparent;
  }

  .zerosize {
    font-size: 0;
  }

  div {
    display: block;
  }

  .a {
    display: inline-block;
    white-space: pre-wrap;
  }

  .article {
    overflow-wrap: break-word;
    padding: 0.5rem;
  }

  #parent-basic,
  #parent-content {
    background-color: #c70d2c;
    color: #fff;
  }

  .content-test::before {
    content: "-content";
  }

  .transparent-text {
    color: transparent;
  }

  .text-shadow-test[data-expectedresult="fail"] {
    text-shadow: 0 0 0 white;
  }

  .padding-test {
    overflow: hidden;
  }

  .padding-test span[id] {
    overflow: hidden;
    position: absolute; 
    transform: translateY(-108px); 
    margin-top: 53px;
  }
  
  #padding-test-visible-child {
    padding-top: 75px; 
  }
  
  #padding-test-not-visible-child {
    padding-top: 0px; 
  }
</style>

{% set case = "Basic usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div id="parent-basic" class="testcase-nostyle">
      <div class="article" data-expectedresult="fail" aria-label="{{id}}-fail">
        <div class="label"><div class="a transparent">Sp</div><div class="a">Sp</div><div class="a zerosize">S</div><div class="a transparent">on</div><div class="a">on</div><div class="a zerosize">S</div>sored-hicvt-basic</div>
        This is the ad.
      </div>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-visible-text Sponsored-hicvt-basic '#parent-basic > .article' '#parent-basic > .article .label'</pre></li>
  </ul>
</section>

{% set case = "::content usage" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with elements using the ::content CSS property works as expected.</p>
  <div id="content-target" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div id="parent-content" class="testcase-nostyle">
      <div class="article" data-expectedresult="fail" aria-label="{{id}}-fail">
        <div class="label"><div class="a transparent">Sp</div><div class="a">Sp</div><div class="a zerosize">S</div><div class="a transparent">on</div><div class="a">on</div><div class="a zerosize">S</div>sored-hicvt<div class="content-test"></div></div>
        This is the ad.
      </div>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element inside in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-visible-text Sponsored-hicvt-content '#parent-content > .article' '#parent-content > .article .label'</pre></li>
  </ul>
</section>

{% set case = "Text visible via text-shadow" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with elements with text made visible by text-shadow.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="text-shadow-test transparent-text" data-expectedresult="fail" aria-label="{{id}}-fail">
      <span>Failed. Element is not hidden.</span>
      Sponsored
    </div>
    <div class="text-shadow-test testcase-expected-view">
      <span>Should not be hidden.</span>
      <span class="transparent-text">Sponsored</span>
    </div>
    <div data-expectedresult="pass" aria-label="{{id}}-pass">
      <span>Should not be hidden.</span>
      <span class="transparent-text">Sponsored</span>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element inside in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-visible-text 'Sponsored' '.text-shadow-test' '.text-shadow-test' 'color:rgba(255,255,255,1)' '-disable-bg-color-check:true'</pre></li>
  </ul>
</section>

{% set case = "-ignore-padding:true" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that usage of the snippet with elements that are made visible by padding.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="padding-test" data-expectedresult="fail" aria-label="{{id}}-fail">
      <span id="padding-test-visible-child">Sponsored</span>
      <span>Failed. Element is not hidden.</span>
    </div>
    <div class="testcase-expected-view"><span>Should not be hidden.</span></div>
    <div class="padding-test" data-expectedresult="pass" aria-label="{{id}}-pass">
      <span id="padding-test-not-visible-child">Sponsored</span>
      <span>Should not be hidden.</span>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element inside in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-contains-visible-text 'Sponsored' '.padding-test' '.padding-test' '-ignore-padding:true'</pre></li>
  </ul>
</section>
