template = testcase
title =  JSON prune
description = Check if json-prune feature works properly.

{% set case = "json-prune" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the json-prune snippet works as expected..</p>
  <div class="testcase-area" id="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>

  </div>
<h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red elements in the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#json-prune data-expectedresult jsonprune </pre></li>
  </ul>
</section>

<script src="testfiles/json-prune/json-prune.js"></script>

