template = testcase
title =  JSON override
description = Check if json-override feature works properly.

<script src="/testfiles/maybe-delayed/test.js"></script>

{% set case = "json-override" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that basic usage of the json-override snippet works as expected..</p>
  <div id="{{id}}-area" class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting 500ms to trigger snippet...</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#json-override 'data-expectedresult' '' </pre></li>
  </ul>
  <h3>Notes</h3>
  <p>Not supported in Chrome 73 (requires 74+)</p>
</section>

<script>
  "use strict";

  let propertiesToUse = '{"data-expectedresult": "fail"}';
  let propertiesObject;

  setTimeout(() => { // eslint-disable-line no-undef
    propertiesObject = JSON.parse(propertiesToUse);
  }, 10);

  setTimeout(() => {
    removeWaitingContent(); // eslint-disable-line no-undef
    let targetTestCase = document.getElementById("{{id}}-area");
    let divToManipulate = document.createElement("div");
    divToManipulate.id = "fail";
    targetTestCase.appendChild(divToManipulate);

    if (propertiesObject) {
      for (let property in propertiesObject) {
        let attr = document.createAttribute(property);
        attr.value = propertiesObject[property];
        document.getElementById("fail").setAttributeNode(attr);
      }
    }
  }, 500);
</script>

