template = testcase
title = Blocking a request from a service worker script
description = Check that blocking a request made by a worker script works as expected.

<script src="/testfiles/service-worker/script.js"></script>

{% set case = "Blocking a request from a service worker script" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that a filter matching a resource url fetched by a service worker url will block the resource.</p>
  <div id="blocked-target" class="testcase-area">
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting for worker setup to finish...</div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should display a green element and not a red element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/service-worker/ad.png</pre></li>
  </ul>
</section>

{% set case = "Allowing a request from a service worker script by an exception filter" %}
{% set id = get_id(case) %}
<section id="{{id}}-section" class="testcase-panel">
  {{ heading(case) }}
  <p>Test that an exception filter matching a resource url fetched by a service worker url will allow the resource.</p>
  <div id="allowed-target" class="testcase-area">
    <div class="testcase-waiting-content" aria-label="{{id}}-waiting">Waiting for worker setup to finish...</div>
    <div class="testcase-expected-view">Target</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The script should display a red element to the test case above.</li>
    <li>Add filter #2.</li>
    <li>Refresh page.</li>
    <li>The script should display a green element to the test case above.</li>
  </ul>
  <h3>Filters</h3>
  <ul id="{{id}}-filters" class="testcase-filters">
    <li><pre>/testfiles/service-worker/no_ad.png</pre></li>
    <li><pre>@@/testfiles/service-worker/no_ad.png</pre></li>
  </ul>
</section>

<script>
  "use strict";

  removeWorkers().then(_ => { // eslint-disable-line no-undef
    setup("/fetching-service-worker.js") // eslint-disable-line no-undef
    .then(status => {
      if (status !== "ready") {
        handleError(); // eslint-disable-line no-undef
      }
      else {
        const blocked = fetchFromServiceWorker("/testfiles/service-worker/ad.png"); // eslint-disable-line no-undef
        const allowed = fetchFromServiceWorker("/testfiles/service-worker/no_ad.png"); // eslint-disable-line no-undef
        const promises = [allowed, blocked];
        Promise.allSettled(promises)
        .then(results => {
          if (results[0].value === "fetch completed")
            addChild("allowed-target", "pass"); // eslint-disable-line no-undef
          else
            addChild("allowed-target", "fail"); // eslint-disable-line no-undef

          if (results[1].value === "TypeError: Failed to fetch")
            addChild("blocked-target", "pass"); // eslint-disable-line no-undef
          else
            addChild("blocked-target", "fail"); // eslint-disable-line no-undef
        });
      }
    })
    .catch(error => handleError()) // eslint-disable-line no-undef
    .finally(() => removeWaitingContent()); // eslint-disable-line no-undef
  });
</script>
