template = testcase
title = ABP Kit Snippets
description = Check if snippets feature works properly in ABPKit.

{% set case = "json-prune" %}
{% set id = get_id(case) %}
<section class="testcase-panel">
  {{ heading(case) }}
  <p>json-prune </p>
  <div class="testcase-area">
    <div class="testcase-examplecontent" aria-label="{{id}}-example">Example Content</div>
  </div>
</section>