template = dp

<section class="site-panel">
  <h2>Welcome</h2>
  <p>This site provides test pages for ABP mobile integrations (Chromium and Webview) functionality.</p>
  <p>For more information on the tespages project, please visit the <a href="/">tespages main site</a></p>
</section>

<section class="site-panel">
  <h2>Testpages Filter Subscription</h2>
  <p>You can add this subscription and then click through to each test case page and check that the page state matches the test case description.</p>
  <p>
    <a class="site-button" href="/en/abp-testcase-subscription.txt" target="_blank">Testpages filters list</a>
  </p>
</section>

<section class="site-panel">
  <h2>Filter test cases</h2>
  <h3>Blocking and Hiding</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="filters/blocking">Blocking</a></li>
    <li><a class="test-link" href="filters/element-hiding">Element Hiding</a></li>
    <li><a class="test-link" href="filters/element-hiding-emulation">Element Hiding Emulation / Extended Selectors</a></li>
  </ul>
  <h3>Filter Options - Resource Types</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="filters/image">Image</a></li>
    <li><a class="test-link" href="filters/popup">Popup</a></li>
    <li><a class="test-link" href="filters/script">Script</a></li>
    <li><a class="test-link" href="filters/stylesheet">Stylesheet</a></li>
    <li><a class="test-link" href="filters/subdocument">Subdocument</a></li>
    <li><a class="test-link" href="filters/websocket">WebSocket</a></li>
    <li><a class="test-link" href="filters/xmlhttprequest">XMLHTTPRequest</a></li>
  </ul>
  <h3>Filter Options - Resource Type Exceptions</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="exceptions/image">Image Exception</a></li>
    <li><a class="test-link" href="exceptions/popup">Popup Exception</a></li>
    <li><a class="test-link" href="exceptions/script">Script Exception</a></li>
    <li><a class="test-link" href="exceptions/stylesheet">Stylesheet Exception</a></li>
    <li><a class="test-link" href="exceptions/subdocument">Subdocument Exception</a></li>
    <li><a class="test-link" href="exceptions/websocket">WebSocket Exception</a></li>
    <li><a class="test-link" href="exceptions/xmlhttprequest">XMLHTTPRequest Exception</a></li>
  </ul>
  <h3>Filter Options - Constraints</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="filters/domain">Domain</a></li>
    <li><a class="test-link" href="filters/match-case">Match Case</a></li>
    <li><a class="test-link" href="filters/other">Other</a></li>
    <li><a class="test-link" href="filters/third-party">Third Party</a></li>
  </ul>
  <h3>Filter Options - Exceptions</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="exceptions/document">Document</a></li>
    <li><a class="test-link" href="exceptions/elemhide">Elem Hide</a></li>
    <li><a class="test-link" href="exceptions/element-hiding">Element Hiding Exception</a></li>
    <li><a class="test-link" href="exceptions/genericblock">Generic Block</a></li>
    <li><a class="test-link" href="exceptions/generichide">Generic Hide</a></li>
    <li><a class="test-link" href="exceptions/sitekey_mv2">Sitekey on MV2</a></li>
    <li><a class="test-link" href="exceptions/sitekey_mv3">Sitekey on MV3</a></li>
  </ul>
  <h3>Filter Options - Rewrite</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="filters/rewrite">Rewrite</a></li>
  </ul>
  <h3>Circumvention</h3>
  <ul class="site-pagelist">
    <li><a class="test-link" href="circumvention/anoniframe-documentwrite">Anonymous frame document.write()</a></li>
    <li><a class="test-link" href="circumvention/inline-style-important">Inline style !important</a></li>
  </ul>
</section>
