template = default

<section class="site-panel">
  <h3>Staging test case list</h3>
  <p>These test cases are complete but not yet part of the main list.</p>
  <ul class="site-pagelist">
    <li><a class="test-link" href="exceptions/document-aboutblank">Document exception - about:blank</a></li>
  </ul>
</section>
