<!DOCTYPE html>
<html>
  {% set page_title = 'ABP Test Pages' %}
  {% include "../includes/head.tmpl" %}
  <body>
    {% include "../includes/header.tmpl" %}
    {% block body %}{% endblock %}
    {% include "../includes/footer.tmpl" %}
  </body>
</html>
