<!DOCTYPE html>
<html>
  {% set page_title = 'Distribution Partners Test Pages' %}
  <? include head ?>
  <body>
    <? include header-dp ?>
    {{ body|safe }}
    <? include footer ?>
  </body>
</html>
