<!DOCTYPE html>
<html>
  {% set page_title = title + ' - ABP Test Pages' %}
  <? include head ?>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const filterElements = document.querySelectorAll(".testcase-filters pre");

    filterElements.forEach(function(element) {
      let isCopying = false;
      element.addEventListener("click", function() {
        if (isCopying) {
          return;
        }

        isCopying = true;
        const filterText = element.textContent;
        const textArea = document.createElement("textarea");
        textArea.value = filterText;

        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        element.innerText = "COPIED!"
        
        setTimeout(function() {
          element.textContent = filterText;
          isCopying = false;
        }, 500);
        });
      });
    });
  </script>
  <body>
    <? include header ?>

    {% if description %}
    <section class="site-panel">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </section>
    {% endif %}

    {{ body|safe }}

    <? include footer ?>
  </body>
</html>
