<!DOCTYPE html>
<html>
  {% set page_title = title + ' - ABP Test Pages' %}
  <? include head ?>
  <body>
    <? include header ?>

    {% if description %}
    <section class="site-panel">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </section>
    {% endif %}

    {{ body|safe }}

    <? include footer ?>
  </body>
</html>
