<!DOCTYPE html>
<html {% if adblockkey %}data-adblockkey="{{ adblockkey }}"{% endif %}>
  <head>
    <title>Sitekey frame</title>
    <style>
      html,
      body {
        margin: 0;
        height: 100%;
      }

      .testcase-sitekey-eh {
        flex-grow: 1;
        padding: 0.5rem;
        color: #fff;
        background-color: #0dc74b;
      }
    </style>
  </head>
  <body>
    <div id="inframe-target" class="testcase-sitekey-eh">Exception Target</div>
    <div>
      <img id="sitekey-fail-3" src="/testfiles/sitekey/inframe.png" style="position: absolute; left: 0; z-index: 1;"/>
      <img id="warning-image" src="/testfiles/sitekey/warning.png" style="position: absolute; left: 0; z-index: 0;"/>
    </div>
  </body>

  <script>
    if (new URLSearchParams(location.search).get("mv3")) {
      const target = document.getElementById("sitekey-fail-3");
      target.src = "/testfiles/sitekey/inframe_mv3.png";
      target["data-expectedresult"] = "fail";
      target["data-dp"] = "fail";
    }
  </script>
</html>
